@import url('https://fonts.googleapis.com/css?family=Inter:wght@400,700')

// Colour definitions
$Col_Main:             #3F3E3C // Dark purple
$Col_Secondary:        #B98DEE // Purple
$Col_Tertiary:         #FFC6E5 // Pink
$Col_Gradient:         #423652 // Darker purple
$Col_Input_Field:      #322E2E // Brown
$Col_Text_Input_Field: #AA9494 // Light brown
$Col_Gray:             #575553 // Light gray
$Col_Blue:             #9ED6F1 // Light blue
$Col_Bg:               #201e29 // Dark gray
$Col_Black: rgba(13,12,16,0.6) // Transparent black

body
  height:           100vh
  margin:           0
  background-color: $Col_Bg
  font-family:      'Inter', sans-serif
  font-weight:      400
  overflow:         hidden

.Top_Nav
  list-style:       none 
  padding-top:      0.5vw
  padding-bottom:   0.5vw
  margin:           0
  padding-left:     1.25vw
  background-color: $Col_Black 
  border-bottom:    0.175vw solid rgba(0,0,0,0.75)

.Side_Nav
  margin:           0
  padding:          0.5vw 1vw 100vh 1vw
  float:            left 
  background-color: $Col_Black
  list-style:       none
  font-size:        2vw

.Top_Nav > li 
  margin-right: 3vw
  display:      inline
  font-size:    2vw

.Top_Nav > li:last-child
  float:        right 
  margin-right: 2vw

.Options
  font-size:   4vw
  display:     flex
  list-style:  none
  font-weight: 700

.Options > li
  margin-right:     10vw
  background-color: $Col_Black
  height:           60vh
  padding:          1vw
  width:            25vw
  border-radius:    1vw
  border:           0.1vw solid $Col_Gray

.Desc
  font-size:   1.5vw
  font-weight: 400

br
  display:    block
  content:    ""
  margin-top: 2vw
