@import url('https://fonts.googleapis.com/css?family=Inter:wght@400,700')

// Colour definitions
$Col_Main:             #3F3E3C // Dark purple
$Col_Secondary:        #B98DEE // Purple
$Col_Tertiary:         #FFC6E5 // Pink
$Col_Gradient:         #423652 // Darker purple
$Col_Input_Field:      #322E2E // Brown
$Col_Text_Input_Field: #AA9494 // Light brown
$Col_Gray:             #575553 // Light gray
$Col_Blue:             #9ED6F1 // Light blue
$Col_Bg:               #201e29 // Dark gray
$Col_Black: rgba(13,12,16,0.6) // Transparent black

body
  height:           100vh
  margin:           0
  background-color: $Col_Bg
  font-family:      'Inter', sans-serif
  font-weight:      400
  overflow:         hidden

.Top_Nav
  list-style:       none 
  padding-top:      0.5vw
  padding-bottom:   1vw
  margin:           0
  margin-bottom:    1.5vw
  padding-left:     1.25vw
  border-bottom:    0.175vw solid $Col_Black
  background-color: $Col_Black

.Side_Nav
  margin:      0
  padding:     0.5vw 1vw 100vh 1vw
  float:       left 
  list-style:  none
  font-size:   1.45vw
  margin-left: 0.75vw

.Side_Nav > li:first-child
  padding-bottom: 1.75vw

.Side_Nav > li:first-child:hover
  filter: opacity(1)

.Side_Nav > li
  transition: ease-out .075s
  padding-bottom: 2vw

.Side_Nav > li:hover
  filter: opacity(0.5)

.Side_Nav > li * 
  margin-right: 0.5vw

.Top_Nav > li:first-child
  background: linear-gradient(to right, $Col_Tertiary, $Col_Secondary)
  -webkit-background-clip: text
  background-clip: text
  color:           transparent

.Top_Nav > li 
  margin-right: 3vw
  display:      inline
  font-size:    2vw

.Top_Nav > li:last-child
  float:        right 
  margin-right: 2vw

.Options
  font-size:   4vw
  display:     flex
  list-style:  none
  font-weight: 700

.Options > li
  margin-right:     10vw
  margin-left:      3vw
  background-color: $Col_Black
  height:           60vh
  padding:          1vw
  width:            25vw
  border-radius:    1vw

.Options > li > a:hover
  filter: opacity(0.65)
  transition: ease-in-out .1s

.Desc
  font-size:   1.5vw
  font-weight: 400

br
  display:    block
  content:    ""
  margin-top: 2vw

a
  text-decoration: none
  color:           inherit

.space
  display: inline
