// How to compile this file:
// ——————————————————————————
// 1) First install sass: https://sass-lang.com/install/ 
// 2) Then compile this file with <sass styles.sass styles.css>
// 3) The output CSS file is called "styles.css"

// Colour definitions
$Col_Main:       #3F3E3C // Dark purple
$Col_Secondary:  #B98DEE // Purple
$Col_Tertiary:   #FFC6E5 // Pink
$Col_Accent:     #ffc6e5
$Col_AccentDark: #c49df2

// Setting font and background colour
body
  height:           100vh
  margin:           0
  background-color: $Col_Main
  font-family:      'Inter', sans-serif
  overflow:         hidden

// Positioning the headline
#Headline
  display:      block
  margin-left:  auto
  margin-right: auto
  margin-top:   10vh
  scale:        75%
  top:          20%

#Navbar
  list-style-type: none
  margin:          0
  padding:         0
  overflow:        hidden
  display:         flex
  align-items:     horizontal

// Styling the navbar elements
#Settings
  float: right
  scale: 300%
  color: $Col_Secondary
  padding: 4vh

#Contact_container
  margin-right: 0%
  scale:        75%
  padding:      2vh

#Logo_container
  margin-left:  -3%
  margin-right: -5%
  scale:        75%
  padding:      2vh

#Support_container
  margin-left:  -3%
  margin-right: 45%
  scale:        75%
  padding:      2vh

// Positioning the call to action button
#Main
  display:         flex
  align-items:     center
  justify-content: center
  flex-direction:  column

// Styling the bottom bar
#Bottom_bar
  position: relative
  top:      22%
  right:    5% 
  scale:    75%
