// How to compile this file:
// ——————————————————————————
// 1) First install sass: https://sass-lang.com/install/ 
// 2) Then compile this file with <sass styles_main.sass styles_main.css>
// 3) The output CSS file is called "styles_main.css"

@use './button_styling.sass'
@import url('https://fonts.googleapis.com/css?family=Inter')
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

// Colour definitions
$Col_Main:             #3F3E3C // Dark purple
$Col_Secondary:        #B98DEE // Purple
$Col_Tertiary:         #FFC6E5 // Pink
$Col_Gradient:         #423652 // Darker purple
$Col_Input_Field:      #322E2E // Brown
$Col_Text_Input_Field: #AA9494 // Light brown
$Col_Rule:             #574F4F // Dark brown

// Setting font and background colour
body
  height:           100vh
  margin:           0
  background-color: $Col_Main
  background-image: linear-gradient($Col_Main, $Col_Gradient)
  font-family:      'Inter', sans-serif
  overflow:         hidden

.Rule
  width: 40%
  border-bottom: 4px solid $Col_Rule

// Positioning the headline
#Headline
  display:      block
  margin-left:  auto
  margin-right: auto
  margin-top:   30vh
  scale:        75%
  top:          20%

// Positioning the login box
#Login
  disply:       block
  margin-left:  auto
  margin-right: auto

// Styling the input field
input 
  border-radius:    12px
  width:            281px
  height:           37.5px
  background-color: $Col_Input_Field
  border:           none
  color:       $Col_Text_Input_Field 

.forgot
  color: white
