// How to compile this file:
// ——————————————————————————
// 1) First install sass: https://sass-lang.com/install/ 
// 2) Then compile this file with <sass styles.sass styles.css>
// 3) The output CSS file is called "styles.css"

// Colour definitions
$Col_Main:       #69ca95
$Col_Secondary:  #284333
$Col_Tertiary:   #9a6442
$Col_Accent:     #ffc6e5
$Col_AccentDark: #c49df2

// Setting font and background colour
body
  height:           100vh
  margin:           0
  background-color: $Col_Main
  font-family:      'Inter', sans-serif
  overflow:         hidden

// Positioning the headline svg
#Headline_container
  position: relative
  top:      10%
  left:     45%

// Positioning the signup svg
#Sign_up
  position: absolute
  top:      75%
  left:     35%

// Positioning the bottom left graphic svg
#Bot_left_graphic_container
  position: relative
  top:      0%

// Positioning the bottom right graphic svg
#Bot_right_graphic_container
  position: relative
  left:     50%
  bottom:   75%
